<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0, shrink-to-fit=yes"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQUIZ</title>
  </head>

  <body>

    <div class="flex-container flex-domins">

    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
    <div style="margin-right: auto; margin-left: auto;">
      <h1 style="text-align: center;color: white;position: relative;top: 50px;font-size: 12vw;">I-QUIZ</h1>
      </div>
    <div class="starwars-demo" style="margin-left: auto; margin-right: auto;">
        <h2 class="byline" id="byline"><span>S</span><span>T</span><span>A</span><span>Y</span><span>I</span><span>N</span><span>G</span><span>-</span><span>F</span><span>O</span><span>O</span><span>L</span><span>I</span><span>S</span><span>H</span><span></span><span>&</span><span>C</span><span>U</span><span>R</span><span>I</span><span>O</span><span>U</span><span>S</span></h2>
  </div>

  <div class="mybtn" style="margin-left: auto; margin-right: auto;" >
    <button type="button" class="btn btn-lg btn-primary text-uppercase" onclick="window.location.href='/login'">Login</button>
    <button type="button" class="btn btn-lg btn-primary text-uppercase" onclick="window.location.href='/signup'">Sign-Up</button>
    </div>

</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>